{literal}
	<script id="paymentListTemplate" type="text/x-jquery-tmpl">
		{{each(i, payment) payments}}
			<div class="item {{if payment.recurrent == 1}}recurrent{{else}}punctual{{/if}} recipient_${payment.recipientFK} type_${payment.typeFK} currency_${payment.currencyFK} method_${payment.methodFK} origin_${payment.originFK} status_${payment.statusFK} location_${payment.locationFK}"
				title="dernière modification le ${payment.modificationDate.formatDate()}"

				data-date="${payment.paymentDate.timestamp()}"
				data-recipient="${getValue(recipients, payment.recipientFK)}"
				data-method="${getValue(methods, payment.methodFK)}"
				data-origin="${getValue(origins, payment.originFK)}"
				data-status="${getValue(statuses, payment.statusFK)}"
				data-amount="${payment.amount}"
				data-amount="${payment.comment}"
			>
				<div class="buttons button-group vertical">
					<a class="button pill icon edit icon-only" href="${payment.id}" title="Editer ce paiement">Editer</a>
					<a class="button pill icon fork icon-only" href="${payment.id}" title="Duppliquer ce paiement">Duppliquer</a>
					<a class="button pill icon trash icon-only" href="${payment.id}" title="Supprimer ce paiement">Supprimer</a>
				</div>
				<dl>
					<dd>
						${getValue(types, payment.typeFK).capitalize()}
						<span>${payment.paymentDate.formatDate()}</span>
					</dd>
					<dd>${payment.label}</dd>
					<dd>
						<strong>${payment.amount.format()} ${getSymbol(currenciesWSymbol, payment.currencyFK)}</strong>
						&nbsp;par ${getValue(methods, payment.methodFK)}
					</dd>
					<dd>
						${getValue(origins, payment.originFK)} → ${getValue(recipients, payment.recipientFK)}
					</dd>
				</dl>
			</div>
		{{/each}}
	</script>
{/literal}
